@import "../lib/mortar/development/less/mixins";

.m-carousel {
	position: relative;
	margin-bottom: 20px;

	.m-carousel-next, .m-carousel-prev {
		position: absolute;
		cursor: pointer;
		top: 50%;
		height: 50px;
		margin-top: -25px;
		.opacity(0.5);

		&:hover {
			.opacity(1);	
		}

		i {
			font-size: 50px;
			line-height: 50px;
		}
	}

	.m-carousel-prev {
		left: 5px;
	}

	.m-carousel-next {
		right: 5px;
	}

	.m-carousel-container {
		position: relative;
		margin: 0 30px;
		overflow: hidden;
		display: block;
	}

	.m-carousel-overflow {
		
	}

	.m-carousel-image {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		float: left;
		cursor: pointer;
	}
}