.m-carousel {
  position: relative;
  margin-bottom: 20px;
}

.m-carousel .m-carousel-next,
.m-carousel .m-carousel-prev {
  position: absolute;
  top: 50%;
  height: 50px;
  margin-top: -25px;
  cursor: pointer;
  -webkit-opacity: 0.5;
   -khtml-opacity: 0.5;
     -moz-opacity: 0.5;
          opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
      filter: alpha(opacity=50);
}

.m-carousel .m-carousel-next:hover,
.m-carousel .m-carousel-prev:hover {
  -webkit-opacity: 1;
   -khtml-opacity: 1;
     -moz-opacity: 1;
          opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
      filter: alpha(opacity=100);
}

.m-carousel .m-carousel-next i,
.m-carousel .m-carousel-prev i {
  font-size: 50px;
  line-height: 50px;
}

.m-carousel .m-carousel-prev {
  left: 5px;
}

.m-carousel .m-carousel-next {
  right: 5px;
}

.m-carousel .m-carousel-container {
  position: relative;
  display: block;
  margin: 0 30px;
  overflow: hidden;
}

.m-carousel .m-carousel-image {
  float: left;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}